/* Elements */

body {
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    margin-bottom: 15px;
    letter-spacing: 0;
    text-transform: capitalize;
}

hr {
    margin: 1.5em 0;
}

p, ul {
    color: #333;
}

blockquote {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f3f3f4;
    /* border: solid 1px #dbdde0; */
    border: solid 1px #ccc;
    border-radius: 4px;
    font-size: 1.1em;
}

blockquote strong {
    color: #000;
}

blockquote::before,
blockquote::after {
    content: none;
}

code {
    font-size: 0.9em !important;
}

/* Bootstrap */

/* Fixing "Little Necko" theme */
.navbar-nav > li > a {
    height: auto !important;
}

/* Header */
/******* Nav bar *******/
.navbar-brand {
  padding: 5px 0px;
  height: auto;
}
.navbar-inverse {
  background-color: #58595b;
}
.navbar-nav {
  padding: 0.5% 0%;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  padding: 10px;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #449999;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #2e2e2c;
}
.dropdown-menu {
  background-color: #2e2e2c;
  border: none;
  z-index: 10000;
  left: inherit;
}
.dropdown-menu > li > a {
    color: #fff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #449999;
    background-color: #f3f3f4;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #fff;
    outline: 0px none;
}
.navbar-nav > li > a i {
    display: inline;
}
#navbar-contents {
  max-height: none;
}
@media (max-width: 767px) {
  .dropdown {
    background: #2e2e2c;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #2e2e2c;
    background: #f3f3f4;
  }
  li.divider {
    display: none;
  }
}
/***** Sub-nav *****/
/*make the nav sticky*/
.sub-nav {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 1000;
}
.sub-nav .sub-tabs {
  border-bottom: none;
  text-align: center;
}
.sub-tabs > li {
  width: 12.5%;
  background: #fff;
}
.sub-nav li > a {
  text-transform: uppercase;
  font-weight: 600;
  color: #58595b;
  border-radius: 0px;
  border: 1px solid #ededed;
  border-bottom: 2px solid #ededed;
  border-top: none;
  margin: 0px;
  padding: 15px 0px;
}

.sub-nav li:hover > a {
  color: #449999;
  border-bottom: 2px solid;
}
.sub-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.sub-tabs .open > a,
.sub-tabs .open > a:hover,
.sub-tabs .open > a:focus {
    background-color: #f3f3f4;
    border: inherit;
    border-bottom: 2px solid #449999;
}

.sub-tabs .caret {
  border-top-color: #449999;
  border-bottom-color: #449999;
}
.sub-tabs .dropdown-menu {
    background-color: #fff;
    padding: 0px;
}
.sub-tabs .dropdown-menu > li > a {
  padding: 15px;
}
.sub-tabs .dropdown-menu > .active > a,
.sub-tabs .dropdown-menu > .active > a:hover,
.sub-tabs .dropdown-menu > .active > a:focus {
    color: #449999;
}
#dropdown-nav {
  display: none;
}
#drop-nav-button {
  width: 100%;
  background-color: #fff;
  color: #58595b;
  border: 1px solid #ADADAD;
}
#dropdown-nav .dropdown-menu {
  background: #fff;
  width: 100%;
  left: 50%;
  right: auto;
  text-align: center;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}
#dropdown-nav .dropdown-menu > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#dropdown-nav .dropdown-menu > .active > a,
#dropdown-nav .dropdown-menu > .active > a:hover,
#dropdown-nav .dropdown-menu > .active > a:focus {
    color: #449999;
}
#dropdown-nav .caret {
  border-top-color: #449999;
  border-bottom-color: #449999;
}
@media (max-width: 1199px) {
  #full-nav {
    display: none;
  }
  #dropdown-nav {
    display: inline;
  }
  #dropdown-nav .dropdown-menu {
    margin: auto;
    padding: 0px;
  }
  #dropdown-nav .dropdown-menu > li {
    display: inline;
  }
  #dropdown-nav .dropdown-menu > li > a {
    border: none;;
    width: auto;
  }
}
@media (max-height: 500px) {
  .sub-nav li > a {
    padding: 10px 0px;
  }
}

/* Article */
#article {
    margin-top: 100px;
    max-width: 1000px;
    /*  margin-left: 245px;*/
}

/* Sidebar */

#sidebar {
    padding-top: 31px;
   /* padding-left: 0px;*/
}

#sidebar a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#sidebar .searchbar {
    margin-bottom: 17px;
}

#sidebar .searchbar #gsc-iw-id1 {
    height: 28px;
}

#sidebar .searchbar input#gsc-i-id1,
#sidebar .searchbar input#gsc-i-id1:hover,
#sidebar .searchbar input#gsc-i-id1:focus {
    color: #777 !important;
}

#sidebar .searchbar input.gsc-search-button,
#sidebar .searchbar input.gsc-search-button:hover,
#sidebar .searchbar input.gsc-search-button:focus {
    background-image: inherit;
    box-sizing: content-box;
}

#sidebar .searchbar td.gsc-search-button {
    padding-top: 3px;
}

#sidebar .searchbar .gsc-branding {
  display: none !important;
}

#sidebar .tocbar {
    border: solid 1px #dbdde0;
    border-radius: 4px;
    background-color: #fff;
}

#sidebar .tocbar a:hover {
    background-color: #f3f3f4;
}

#sidebar .tocbar a {
    padding: 7px 14px;
    color: #b7410e;
    font-weight: 600;
}

#sidebar .tocbar a:hover {
    background-color: #f3f3f4;
}

#sidebar .tocbar-sub {
    margin-left: 2em;
    border-left: dashed 1px #ccc;
    font-size: 0.9em;
}

#sidebar .tocbar-sub a {
    padding: 3px 10px;
    color: #777;
}

#sidebar .tocbar-sub a:hover {
    background-color: #eee;
}

/* Sticky tocbar */
@media (min-width: 992px) {
    #sidebar .tocbar.affix {
        position: fixed;
        z-index: 10;
        top: 120px;
    }
}

/* Mainbar */

#mainbar .gsc-result-info {
    margin-top: 14px;
    margin-bottom: 8px
}

#mainbar .gsc-thumbnail-inside {
  padding-left: 0px !important;
}

#mainbar .gsc-url-top {
  padding-left: 0px !important;
}

#mainbar .gsc-selected-option-container {
  padding-right: 62px !important;
}

#mainbar .gsc-result-info {
  padding-left: 0px !important;
}

/* Content */

#content table {
    margin-bottom: 10px;
}

#content table th,
#content table td {
    padding: 3px;
    border: solid 1px #ddd;
}

#content table th {
    background-color: #eee;
}

/******* Footer *******/
#footer.bg {
  margin-top: 60px;
  padding: 40px 0px 0px;
  background: #58595b;
}
#footer .col-sm-3 > h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-top: 0px;
}
#footer .col-sm-3 > ul {
  margin-top: 30px;
  font-size: 13px;
  list-style-type: none;
  padding: 0;
}
#footer .col-sm-3 > ul > li {
  margin-bottom: 9px;
}
#footer a {
  color: #fff;
  transition: all 0.2s linear 0s;
}
#footer a:hover,
#footer a:active,
#footer a:focus {
  color: #449999;
}
.hiring {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  border-radius:5px;
  background-color: #449999;
  padding: 3px 8px;
}
@media (max-width: 767px) {
  #footer {
    text-align: center;
  }
  #footer.bg {
    padding-top: 30px;
  }
  #footer .col-sm-3 {
    margin-top: 30px;
  }
  .col-sm-3 > ul {
    margin-top: 10px;
  }
}

/******* Copyright *******/
.copyright {
  text-align: center;
  color: #a1aab6;
  font-size: 13px;
  margin: 50px 0px 30px;
}