/* Elements */
body {
    color: #58595b;
    font-size: 15px;
    font-family: ProximaNova-Regular, "proxima-nova", "Maven Pro", sans-serif;
}

p {
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 44px;
    margin-top: 20px;
    margin-bottom: 15px;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #702809;
}

h4 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #702809;
}

hr {
    margin: 1.5em 0;
}

a {
    color: #009999;
}

a:link, a:visited {
    font-family: ProximaNova-Regular, "proxima-nova", "Maven Pro", sans-serif;
    color: #009999;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #49B7E2;
}

blockquote {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f3f3f4;
    border: solid 1px #ccc;
    border-radius: 4px;
    font-size: 1.1em;
}

blockquote strong {
    color: #000;
}

blockquote::before,
blockquote::after {
    content: none;
}

code {
    font-size: 0.9em !important;
    border: 1px solid #ddd;
    color: #333;
    background-color: #F5F5F5;
}

/* Bootstrap */

/* Fixing "Little Necko" theme */

/* Header */
/******* Nav bar *******/
.navbar-nav > li > a {
    height: auto !important;
    font-size: 14px;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-brand {
    padding: 5px 0px;
    height: auto;
}

.navbar-inverse {
    background-color: #003535;
}

.navbar-nav {
    padding: 0.5% 0%;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    padding: 10px;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #449999;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #2e2e2c;
}

.dropdown-menu {
    background-color: #2e2e2c;
    border: none;
    z-index: 10000;
    left: inherit;
}

.dropdown-menu > li > a {
    color: #fff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #449999;
    background-color: #f3f3f4;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #fff;
    outline: 0px none;
}

.navbar-nav > li > a i {
    padding: 0px;
}

.navbar-nav > li > a:hover i, .navbar-nav > li.active > a i {
    color: #009999;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#navbar-contents {
    max-height: none;
}

#search input {
    text-align: center;
    border-radius: 28px;
    margin: 1.25% 15px;
    padding: 0px 10px;
}

.navbar-nav .fa {
    display: inline-block !important;
    font-family: FontAwesome;
    font-size: 15px !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 767px) {
    .dropdown {
        background: #2e2e2c;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #2e2e2c;
        background: #f3f3f4;
    }

    li.divider {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: -5px;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
    }
}

/***** Sub-nav *****/
/*make the nav sticky*/
.sub-nav {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1000;
    background: #f3f3f4;
    border-bottom: solid 1px #dbdde0;
}

.sub-nav .sub-tabs {
    border-bottom: none;
    text-align: center;
}

.sub-tabs > li {
    width: 14%;
}

.sub-nav li > a {
    /*text-transform: uppercase;*/
    font-weight: 600;
    color: #58595b;
    border-radius: 0px;
    /*border: 1px solid #ededed;
    border-bottom: 2px solid #ededed;*/
    border-top: none;
    margin: 0px;
    padding: 15px 0px;
}

.sub-nav li:hover > a {
    color: #449999;
    border-bottom: 2px solid;
}

.sub-tabs > li {
    float: left;
}

.sub-tabs .open > a,
.sub-tabs .open > a:hover,
.sub-tabs .open > a:focus {
    background-color: #f3f3f4;
    border: inherit;
    border-bottom: 2px solid #449999;
}

.sub-tabs .caret {
    border-top-color: #449999;
    border-bottom-color: #449999;
}

.sub-tabs .dropdown-menu {
    background-color: #fff;
    padding: 0px;
}

.sub-tabs .dropdown-menu > li > a {
    padding: 15px;
    text-align: left;
}

.sub-tabs .dropdown-menu > .active > a,
.sub-tabs .dropdown-menu > .active > a:hover,
.sub-tabs .dropdown-menu > .active > a:focus {
    color: #449999;
    text-align: left;
}

.sub-tabs .scrollable-menu {
    height: auto;
    max-height: 500px;
    min-width: 225px;
    overflow-x: hidden;
}

#accordion1 {
    display: none;
}

#drop-nav-button {
    width: 100%;
    background-color: #fff;
    color: #58595b;
    border: 1px solid #ADADAD;
    text-transform: uppercase;
    text-align: center;
}

#sections {
    text-align: center;
}

#sections .panel-group .panel-heading,
#sections .panel-default {
    border-color: #fff;
}

#sections .panel-default > .panel-heading {
    background: #fff;
}

#sections .panel-title > a {
    color: #58595b;
}

#sections .panel-title > a:hover,
#sections .panel-title > a:focus {
    color: #449999;
}

#sections li {
    list-style-type: none;
}

#sections li > a {
    border: none;
    margin: 10px;
}

@media (max-width: 1199px) {
    #full-nav {
        display: none;
    }

    #accordion1 {
        display: inline;
    }

    #accordion1 .dropdown-menu {
        margin: auto;
        padding: 0px;
    }

    #accordion1 .dropdown-menu > li {
        display: inline;
    }

    #accordion1 .dropdown-menu > li > a {
        border: none;;
        width: auto;
    }
}

@media (max-height: 500px) {
    .sub-nav li > a {
        padding: 10px 0px;
    }
}

/* Article */
/* adjust for fixed navbar in anchors */
h2:target, h3:target {
    padding-top: 20px;
}

#article {
    margin-top: 50px;
    width: 100%;
    max-width: none;
    /*  margin-left: 245px;*/
}

#article.container {
    padding-left: 0px;
}

/* Mainbar */
#mainbar {
    padding: 20px;
}

/* Sidebar */
#sidebar {
    padding: 0px;
}

.sticky-anchor {
    position: fixed;
}

#sidebar .tocbar {
    padding-right: 10px;
    z-index: 10;
    max-height: 50%;
    max-width: 100%;
}

#sidebar .tocbar a {
    color: #58595b;
    border-bottom: 1px solid #ffffff;
}

#sidebar .tocbar a:hover {
    color: #ffffff;
    background-color: #003535;
    border-bottom: 1px solid #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sidebar .tocbar a.currentPage {
    cursor: default;
    font-weight: 700;
    background-color: #ffffff;
    border-right: 8px solid #003737;
}

#sidebar .tocbar a.currentPage:hover {
    color: #58595b;
}

#sidebar .tocbar label {
    color: #ffffff;
    background-color: #008585;
    font-weight: normal;
    padding: 10px 1em;
    width: 100%;
    margin-bottom: 0px;
    border-bottom: 1px solid #ffffff;
}

#sidebar .tocbar label:hover {
    cursor: pointer;
}

#sidebar .tocbar label.active {
    color: #ffffff;
    background-color: #003737;
    font-weight: 600;
}

#sidebar .tocbar li li.has-children {
    background-color: #ffffff;
}

#sidebar .tocbar li li label{
    color: #ffffff;
    background-color: #008585;
}

#sidebar .tocbar li li li a {
    padding-left: 2em;
    background-color: #ffffff;
}

#sidebar .tocbar li {
    background-color: #f3f3f4;
}

#sidebar .tocbar li:hover {
    cursor: pointer;
}

#sidebar .tocbar .fa {
    color: #ffffff;
    float: right;
}

#sidebar .tocbar-sub {
    margin-left: 15px;
}

#sidebar .tocbar-sub a {
    padding: 10px 1em;
    color: #58595b;
    background-color: #f3f3f4;
    border-bottom: 1px solid #f3f3f4;
}

/* Sticky tocbar */
@media (min-width: 992px) {
    #sidebar .tocbar.affix {
        position: fixed;
        z-index: 10;
        top: 120px;
    }
}

/* Accordion tocbar */
.cd-accordion-menu input[type=checkbox] {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
}

.cd-accordion-menu ul {
    /* by default hide all sub menus */
    display: none;
}

.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
    /* show children when item is checked */
    display: block;
}

.cd-accordion-menu ul.visible {
    display: block;
}

/* Buttons */
.signup-buttons {
    text-align: center;
}

/* Content */

#content table {
    margin-bottom: 10px;
}

#content table th,
#content table td {
    padding: 3px;
    border: solid 1px #ddd;
}

#content table th {
    background-color: #eee;
}

/******* Footer Hitchock Launch*******/
.footer {
    background: #ffffff;
}

.site-footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 14px;
    line-height: 1.5;
    border-top: 1px solid #eee;
}

.footer .right {
    float: right;
}

.site-footer-links {
    margin: 0;
    list-style: none;
}

ul.site-footer-links {
    padding: 0px;
}

.site-footer-links li {
    display: inline-block;
    line-height: 16px;
}

.site-footer-links li + li {
    margin-left: 10px;
}

.site-footer .shipicon-yoga-aa-silh {
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -12px;
    font-size: 24px;
    color: #ccc;
}

