/* Elements */

body {
    color: #58595b;
    font-size: 15px;
    font-family: ProximaNova-Regular, "proxima-nova", "Maven Pro", sans-serif;
}

p {
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
    /*font-weight: bold;*/
}

h1 {
    margin-bottom: 15px;
    letter-spacing: 0;
    text-transform: capitalize;
    font-size: 32px;
}

h2{
  font-size: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
}

h4{
  font-size: 15px;
}

hr {
    margin: 1.5em 0;
}

a {
  color: #449999;
}

a:link, a:visited {
  font-family: ProximaNova-Regular, "proxima-nova", "Maven Pro", sans-serif;
  color: #15c;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #49B7E2;
}

blockquote {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f3f3f4;
    /* border: solid 1px #dbdde0; */
    border: solid 1px #ccc;
    border-radius: 4px;
    font-size: 1.1em;
}

blockquote strong {
    color: #000;
}

blockquote::before,
blockquote::after {
    content: none;
}

code {
    font-size: 0.8em !important;
    border: 1px solid #ddd;
    color: #333;
    background-color: #F5F5F5;
}

/* Bootstrap */

/* Fixing "Little Necko" theme */

/* Header */
/******* Nav bar *******/
.navbar-nav > li > a {
    height: auto !important;
    font-size: 14px;
}

.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-brand {
  padding: 5px 0px;
  height: auto;
}
.navbar-inverse {
  background-color: #58595b;
}
.navbar-nav {
  padding: 0.5% 0%;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  padding: 10px;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #449999;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #2e2e2c;
}
.dropdown-menu {
  background-color: #2e2e2c;
  border: none;
  z-index: 10000;
  left: inherit;
}
.dropdown-menu > li > a {
    color: #fff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #449999;
    background-color: #f3f3f4;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #fff;
    outline: 0px none;
}
.navbar-nav > li > a i {
    display: inline;
}
#navbar-contents {
  max-height: none;
}
@media (max-width: 767px) {
  .dropdown {
    background: #2e2e2c;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #2e2e2c;
    background: #f3f3f4;
  }
  li.divider {
    display: none;
  }
}
/***** Sub-nav *****/
/*make the nav sticky*/
.sub-nav {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 1000;
}
.sub-nav .sub-tabs {
  border-bottom: none;
  text-align: center;
}
.sub-tabs > li {
  width: 12.5%;
  background: #fff;
}
.sub-nav li > a {
  /*text-transform: uppercase;*/
  font-weight: 600;
  color: #58595b;
  border-radius: 0px;
  /*border: 1px solid #ededed;
  border-bottom: 2px solid #ededed;*/
  border-top: none;
  margin: 0px;
  padding: 15px 0px;
}

.sub-nav li:hover > a {
  color: #449999;
  border-bottom: 2px solid;
}
.sub-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.sub-tabs .open > a,
.sub-tabs .open > a:hover,
.sub-tabs .open > a:focus {
  background-color: #f3f3f4;
  border: inherit;
  border-bottom: 2px solid #449999;
}

.sub-tabs .caret {
  border-top-color: #449999;
  border-bottom-color: #449999;
}
.sub-tabs .dropdown-menu {
  background-color: #fff;
  padding: 0px;
}
.sub-tabs .dropdown-menu > li > a {
  padding: 15px;
  text-align: left;
}
.sub-tabs .dropdown-menu > .active > a,
.sub-tabs .dropdown-menu > .active > a:hover,
.sub-tabs .dropdown-menu > .active > a:focus {
  color: #449999;
  text-align: left;
}
.sub-tabs .scrollable-menu {
  height: auto;
  max-height: 500px;
  min-width: 225px;
  overflow-x: hidden;
}
#accordion1 {
  display: none;
}
#drop-nav-button {
  width: 100%;
  background-color: #fff;
  color: #58595b;
  border: 1px solid #ADADAD;
  text-transform: uppercase;
  text-align: center;
}
#sections {
  text-align: center;
}
#sections .panel-group .panel-heading,
#sections .panel-default {
  border-color: #fff;
}
#sections .panel-default > .panel-heading {
  background: #fff;
}
#sections .panel-title > a {
  color: #58595b;
}
#sections .panel-title > a:hover,
#sections .panel-title > a:focus {
  color: #449999;
}
#sections li {
  list-style-type: none;
}
#sections li > a {
  border: none;
  margin: 10px;
}
@media (max-width: 1199px) {
  #full-nav {
    display: none;
  }
  #accordion1 {
    display: inline;
  }
  #accordion1 .dropdown-menu {
    margin: auto;
    padding: 0px;
  }
  #accordion1 .dropdown-menu > li {
    display: inline;
  }
  #accordion1 .dropdown-menu > li > a {
    border: none;;
    width: auto;
  }
}
@media (max-height: 500px) {
  .sub-nav li > a {
    padding: 10px 0px;
  }
}

/* Article */
#article {
    margin-top: 100px;
    /*max-width: 1000px;*/
    /*  margin-left: 245px;*/
}
#search input {
  border-radius: 28px;
  width: 100%;
  padding:  5px 10px;
}
#mkdocs-search-results {
  margin-top: 30px;
}

/* Sidebar */

#sidebar {
    padding-top: 30px;
    padding-right: 0px;
}

#sidebar a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.sticky-anchor {
  position: fixed;
}

#sidebar .tocbar {
  border: solid 1px #dbdde0;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
  z-index: 10;
  max-height: 50%;
}

#sidebar .tocbar a:hover {
    background-color: #f3f3f4;
}

#sidebar .tocbar a {
    padding: 7px 14px;
    color: #2e2e2c;
    font-weight: 600;
}

#sidebar .tocbar a:hover {
    background-color: #f3f3f4;
}

#sidebar .tocbar-sub {
    margin-left: 2em;
    border-left: dashed 1px #ccc;
    font-size: 0.9em;
}

#sidebar .tocbar-sub a {
    padding: 3px 10px;
    color: #777;
}

#sidebar .tocbar-sub a:hover {
    background-color: #eee;
}

/* Sticky tocbar */
@media (min-width: 992px) {
    #sidebar .tocbar.affix {
        position: fixed;
        z-index: 10;
        top: 120px;
    }
}

/* Mainbar */

#mainbar {
  padding-top: 26px;
  padding-right: 0px !important;
}

/* Content */

#content table {
    margin-bottom: 10px;
}

#content table th,
#content table td {
    padding: 3px;
    border: solid 1px #ddd;
}

#content table th {
    background-color: #eee;
}

/******* Footer *******/
#footer {
  line-height: 1.42857;
}
#footer.bg {
  margin-top: 60px;
  padding: 40px 0px 0px;
  background: #58595b;
}
#footer .col-sm-3 > h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-top: 0px;
}
#footer .col-sm-3 > ul {
  margin-top: 30px;
  font-size: 13px;
  list-style-type: none;
  padding: 0;
}
#footer .col-sm-3 > ul > li {
  margin-bottom: 9px;
}
#footer a {
  color: #fff;
  transition: all 0.2s linear 0s;
}
#footer a:hover,
#footer a:active,
#footer a:focus {
  color: #449999;
}
.hiring {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  border-radius:5px;
  background-color: #449999;
  padding: 3px 8px;
}
@media (max-width: 767px) {
  #footer {
    text-align: center;
  }
  #footer.bg {
    padding-top: 30px;
  }
  #footer .col-sm-3 {
    margin-top: 30px;
  }
  .col-sm-3 > ul {
    margin-top: 10px;
  }
}

/******* Copyright *******/
.copyright {
  text-align: center;
  color: #a1aab6;
  font-size: 13px;
  margin: 50px 0px 30px;
}
