/*div {
  border: 1px solid #ff0000;
}
.grid {
  border: 1px solid #ff0000;
}*/

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 15px;
}
h1 {
  font-size: 2.5em;
  color: #58595b;
  font-weight: 400;
}
h2 {
  font-size: 2em;
  color: #9f390c;
  font-weight: 400;
}
h3 {
  font-size: 1.5em;
  color: #88300a;
  font-weight: 400;
}
h4 {
  font-size: 1.25em;
  color: #58595b;
  font-weight: 400;
}
h5 {
  font-size: 1.1em;
  color: #9f390c;
  font-weight: 400;
}
p {
  font-size: 1em;
  color: #58595b;
}
code {
  background-color: #f3f3f4;
  color: #58595b;
  border: 1px solid #58595b;
  font-size: 0.8em;
}
pre code {
  font-size:0.9em;
}

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #009999;
}
a:hover, a:focus, a:active {
  color: #49B7E2;
}

.container-override {
  width: 100%;
  max-width: none;
  min-height: 99vh;
  position: relative;
  padding: 0;
}
.row {
  margin: 0;
}

/*** Centering ***/
.align-self-parent {
    display: flex;
    justify-content: center;
}
.align-self {
    align-self: center;
}
.float-right {
    float: right;
}

/*** Text Align ***/
.always-inline-list li {
    display: inline-block;
}

/*** Spacing Modifiers ***/
.col-no-pad {
    padding: 0px;
}
.no-pad {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.margin-025 {
    margin: 0.25em;
}
.margin-05 {
    margin: 0.5em;
}

/*** Image Sizing ***/
.icon-10 {
    height: 10em;
}
.icon-5 {
    height: 5em;
}
.icon-025 {
    height: 2.5em;
}

/*** Backgrounds ***/
.background-lt-grey {
    background-color: #f3f3f4;
}
.background-white {
    background-color: #ffffff;
}
.gray {
    color: #58595b;
}
.transparent {
    opacity: 0;
}

/*** Buttons ***/
.btn-dk {
    color: #ffffff;
    background: #009999;
    padding: 12px 31px;
    border-radius: 4px;
    border: none;
}
.btn-dk:hover,
.btn-dk:focus,
.btn-dk:active {
    color: #ffffff;
    background-color: #003535;
}
.btn-lt {
    color: #009999;
    background: #ffffff;
    padding: 12px 31px;
    border-radius: 4px;
    border: none;
}
.btn-lt:hover,
.btn-lt:focus,
.btn-lt:active {
    color: #ffffff;
    background-color: #003535;
}

/*** Navbar Mascot ***/
.color-mascot {
    height: 4em;
}


/*** Top Nav Bar ***/
.top-nav {  
  border-bottom: 2px solid #d3d3d4;
}
.top-nav a.active {
  background-color: #f3f3f4;
}
.top-nav .navbar-menu > ul > li > a {
    line-height: calc(5em - 2px);;
    padding: 0em 1em;
    color: #009999;
}
.top-nav .navbar-menu > ul > li > a:hover {
    background-color: #003535;
    color: #ffffff;
}
.top-nav .navbar-menu > ul > li > a.hilight {
    color: #ffffff;
    background-color: #000000;
}
.top-nav .navbar-menu > ul > li > a.hilight:hover {
    background-color: #009999;
}

/* Accordion tocbar */
.cd-accordion-menu ul {
    /* by default hide all sub menus */
    display: none;
}
.cd-accordion-menu ul.active {
    display: block;
}
.side-nav h4 {
  color: #58595b;
  margin: 0em;
  padding: 1em;
  font-size: 1em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.side-nav i {
  color: #58595b;
  float: right;
}
.side-nav i.fa-search {
  color: #009999;
} 
.side-nav li>a:hover>i.fa-search {
  color: #49B7E2;
}
#search input {
  width: 100%;
}
.side-nav li {
  margin-left: .5em;
}
.side-nav h4:hover, .side-nav h4:active, .side-nav h4:focus {
  background-color: #eeeeee;
}
.side-nav li li a {
  color: #58595b;
  padding-left: 1.5em;
  border-left: 2px solid rgba(188, 181, 185, 0.3);
}
.side-nav #side-nav li li h4 {
  border-left: 2px solid rgba(188, 181, 185, 0.3);
  padding-left: 1.5em;
}
.side-nav a.currentPage {
  border-left: 2px solid #009999;
  color: #009999;
}
.side-nav.right-nav h4.nav-title {
  background-color: #009999;
  color: #ffffff;
}
.side-nav.right-nav ul {
  background-color: #f3f3f4;
}
.side-nav.right-nav li li a {
  color: #009999;
}

/*** Hubspot CTA button overrides ***/
a#cta_button_362403_11afe0ed-1e21-4ad7-9367-5be4709a228b {
  margin: 1em auto;
  width: 100%;
}
a#cta_button_362403_11afe0ed-1e21-4ad7-9367-5be4709a228b:hover,
a#cta_button_362403_11afe0ed-1e21-4ad7-9367-5be4709a228b:focus,
a#cta_button_362403_11afe0ed-1e21-4ad7-9367-5be4709a228b:active {
  color: #ffffff;
  background-color: #003535;
}

/*** Footer ***/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.footer-spacer {
  height: 10em;
}
.social-media {
  text-align: right;
}

/*** Hide Google script ***/
body > iframe {
  position: fixed;
}