body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1em;
}
p {
  font-size: 1em;
}
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container-override {
  max-width: none;
}
/*div {
  border: 1px solid #ff0000;
}
.grid {
  border: 1px solid #ff0000;
}*/
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.col-no-pad {
  padding: 0px;
}
.align-self-parent {
  display: flex;
  justify-content: center;
}
.align-self {
  align-self: center;
}


/*** Top Nav Bar ***/
.docs-nav {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003535+3,009999+100 */
  background: #003535;*/ /* Old browsers */
  background: -webkit-linear-gradient(top,  #003535 3%,#009999 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #003535 3%,#009999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 5em;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003535', endColorstr='#009999',GradientType=0 ); /* IE6-9 */
  border: 1px solid #58595b;
  width: 100%;
}
.navbar-mascot {
  max-height: 3em;
  max-width: 4em;
}
.navbar-brand {
  font-size: 14px;
  max-height: 3em;
  max-width: 15em;
  padding: 0em;
}
.docs-nav input {
  width: 40em;
  display: block;
  margin: auto;
}
.docs-nav ul > li > a {
  line-height: calc(5em - 2px);;
  padding: 0em 1em;
  color: #ffffff;
}
.docs-nav ul > li > a:hover {
  color: #ffffff;
  background-color: #009999;
}
.docs-nav ul > li > a.hilight {
  color: #000000;
  background-color: #eee;
}
.docs-nav ul > li > a.hilight:hover {
  color: #ffffff;
  background-color: #003535;
}

/* Main Body of Page */
.main-body {
  background: #ffffff;
}

/* Accordion tocbar */
.cd-accordion-menu ul {
    /* by default hide all sub menus */
    display: none;
}
.cd-accordion-menu ul.active {
    display: block;
}
.left-nav h4 {
  color: #58595b;
  margin: 0em;
  padding: 1em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.left-nav i {
  color: #58595b;
  float: right;
}
.left-nav li {
  margin-left: .5em;
}
.left-nav h4:hover, .left-nav h4:active, .left-nav h4:focus {
  background-color: #eeeeee;
}
.left-nav li li a {
  color: #58595b;
  padding-left: 1.5em;
  border-left: 2px solid rgba(188, 181, 185, 0.3);
}
.left-nav #side-nav li li h4 {
  border-left: 2px solid rgba(188, 181, 185, 0.3);
}
.left-nav a.currentPage {
  border-left: 2px solid #009999;
  color: #009999;
}

/*** Footer ***/
.footer {
  background: #009999;
  color: #ffffff;
  padding-top: 1em;
}
.footer-top {
  height: 2.5em;
}
.footer-top img {
  height: 2.5em;
}
.footer .navbar-nav > li > a {
  padding: 0em 1em;
}
.footer a {
  color: #ffffff;
}
.footer a:hover {
  color: #000000;
}
.footer-top img {
  padding-left: 1em;
}
.footer-container .row-number-2 {
  display: none;
}
.footer .hs_followme > div {
  padding: 0px !important;
}
.copyright p {
  margin: 0px;
  text-align: center;
  color: #ffffff;
}
.social-media {
  text-align: right;
}

/*** Hide Google script ***/
body > iframe {
  position: fixed;
}