<!-- Sub-nav -->

  <div class="sub-nav" id="sub-nav-ci">
    <div class="container" id="full-nav">
      <ul class="nav sub-tabs bg">
        {% for section in nav %}
            {% if section.children %}
            <li class="dropdown{% if section.active %} active{% endif %}">
              {% for first_item in section.children[:1] %}
              <a href="/{{ first_item.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ section.title }} <b class="caret"></b></a>
              {% endfor %}
              <ul class="dropdown-menu">
                {% for section in section.children %}
                {% include "navbar_sub.html" %}
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li {% if section.active %}class="active"{% endif %}>
              <a href="/{{ section.url }}">{{ section.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
      </ul>
    </div>
    <div class="panel-group" id="accordion1">
      <div class="panel panel-default">
        <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion1" href="#sections">
          <div class="panel-heading" id="drop-nav-button">
            Menu <i class="fa fa-chevron-down"></i>
          </div>
        </a>
        <div id="sections" class="panel-body collapse">
          {% for section in nav %}
            {% if section.children %}
            <!-- Here we insert another nested accordion -->
            <div class="panel-inner">
              <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                  {% for first_item in section.children[:1] %}
                  <div class="panel-heading">
                    <h4 class="panel-title"><a class="panel-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ first_item.url.strip('./') }}">
                      {{ section.title }} <i class="fa fa-chevron-down"></i>
                    </a></h4>
                  </div>
                  <div id="{{ first_item.url.strip('./') }}" class="panel-body collapse">
                    <div class="panel-inner">
                      {% for section in section.children %}
                      {% include "navbar_sub.html" %}
                      {% endfor %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- Inner accordion ends here -->
            {% else %}
            <div class="panel-heading">
              <li {% if section.active %}class="active"{% endif %}>
                <a href="/{{ section.url }}">{{ section.title }}</a>
              </li>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>


  </div>
